@import url(https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    color: #fafafa;
}

.navbrand {
    width: 10rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.nav-list {
    width: 100%;
    height: 100vh;
    background-color: #06022b;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
}


.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.navitem {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fafafa;
    display: inline-block;
    padding: 1rem 2rem;
}

.current {
    color: #fff;
}

.nav-link:hover {
    background-color: #29234d;
}

.container {
    height: 100vh;
    background-color: #06022b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 85vh;
    width: 80vw;
    background: linear-gradient(135deg, #ffcb3bc2 0%, #dd5330cb 100%), url(./img/hurling6.jpg) center no-repeat;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 0.7rem rgba(0,0,0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

.card h1 {
    font-size: 4rem;
    text-shadow: .2rem .2rem .2rem rgba(0,0,0, 0.5);
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 500;
    text-align: center;
}

.card h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0,0.5);
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    color: #fff;
    
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    opacity: 0.8;
    width: 25%;
}

.ball {
    width: 15%;
    position: absolute;
    opacity: 0.95;
    filter: drop-shadow(0 0 1rem rgba(0,0,0,0.5));
    cursor: pointer;
}

.ty {
    display: none;
}

@media screen and (min-width: 320px) {
    .ball {
        bottom: -5%;
    }
    
    
    .close {
        top: 1.5rem;
        left: 2rem;
    }
    
    .navitem {
        margin: 1rem 0;
    }
    
    .nav-link {
        font-size: 2rem;
        padding: .8rem 1.8rem;
    }
}

@media screen and (min-width: 355px) {
    .nav-link i {
        font-size: 3rem;
    }
}

@media screen and (min-width: 750px) {
    .card {
        width: 80vw;
    }
    
    .ball {
        width: 15%;
        bottom: -4rem;
    }
    
    .nav-link {
        font-size: 5rem;
    }
    
    .nav-link i {
        font-size: 5rem;
    }
}

@media screen and (min-width: 1030px) {
    .ty {
        display: block;
        width: 50%;
        position: absolute;
        bottom: 0;
        right: -15%;
        filter: contrast(85%);
    }
    
    .card {
        overflow: hidden;
    }
    
    .ball {
        width: 8%;
        bottom: 25%;
        filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.8))
    }
    
    .nav-link {
        font-size: 3rem;
    }
    
    .nav-link i {
        font-size: 3rem;
    }
    
    .logo {
        width: 15%;
    }
}